.buttons {
    text-align: center;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#signin{
    margin-top: 3em;
    width: 15em;
}

#user{
    margin-top: -3em;
}
