  
  <ion-content padding>
    <img id="logo" src="../../assets/beesafe.png" alt="Logo">
    
<ion-item id="user">
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email" [(ngModel)]="user.email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input *ngIf="showPass" type="password"  [(ngModel)]="user.password"></ion-input>
  <ion-icon *ngIf="showPass"  slot="end" name="eye" (click)="showPass=false"></ion-icon>
  <ion-input *ngIf="!showPass" [(ngModel)]="user.password"></ion-input>
  <ion-icon *ngIf="!showPass"  slot="end" name="eye-off" (click)="showPass=true"></ion-icon>
</ion-item>

<div>
    <div class="buttons">
      <ion-button id="signin" (click)="signIn()">
            Register / Sign In
            <ion-icon slot="end" name="send"></ion-icon>
          </ion-button>
    </div>
  </div>

</ion-content>
